<h3 class="javascript-api">JavaScript API</h3>
  {% for subpagecat in site.api-categories %}
    <h3 class="{{subpagecat}}">&nbsp;</h3>
    <ul class="javascript-api {{subpagecat}}">
      <li class="sub-category">{{ subpagecat | replace: '-', ' ' | capitalize }}</li>
      {% for subpage in site.api %}
      {% if subpage.category == subpagecat %}
      <li class="methods methods-{{subpage.tag}}">
          <a href="{{ subpage.url | replace: '.html', '' }}" class="title"><span class="title {{subpage.key}}"><i></i>{{ subpage.title }}</span></a>
          {% if subpage.methods %}
            <ul class="sub-methods">
              {% for method in subpage.methods %}
                    <li><a class="method" href="#{{method}}"><span>{{method}}</span></a></li>
              {% endfor %}
            </ul>
          {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}

<i></i>
<h3 class="build-from-source">Build from source</h3>
<ul class="build-from-source">
  {% for page in site.build-from-source %}
    <li class="page-link">
      <a  href="{{ page.url | replace: '.html', '' }}">
        <b>.</b><span class="title {{page.key}}">{{ page.title }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

<i></i>
<h3 class="diagrams">Diagrams</h3>
<ul class="diagrams">
  {% for page in site.diagrams %}
    <li class="page-link">
      <a  href="{{ page.url | replace: '.html', '' }}">
        <b>.</b><span class="title {{page.key}}">{{ page.title }}</span>
      </a>
    </li>
  {% endfor %}
</ul>