<h3 class="javascript-api">JavaScript API</h3>
{% for cat in site.api-categories %}
<h3 class="{{cat}}">&nbsp;</h3>
<ul class="javascript-api {{cat}}">
  <li class="sub-category">{{ cat | replace: '-', ' ' | capitalize }}</li>
  {% for page in site.api %}
  {% if page.category == cat %}
  <li class="methods methods-{{page.tag}}">
      <a href="{{ page.url | replace: '.html', '' }}" class="title"><span class="title {{page.key}}"><i></i>{{ page.title }}</span></a>
      {% if page.methods %}
	<ul class="sub-methods">
	  {% for method in page.methods %}
		<li><a class="method" href="#{{method}}"><span>{{method}}</span></a></li>
	  {% endfor %}
	</ul>
      {% endif %}
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

{% for cat in site.api-article-categories %}
<i></i>
<h3 class="{{cat}}">{{ cat | replace: '-', ' ' | capitalize }}</h3>
<ul class="{{cat}}">
  {% for page in site.api-articles %}
  {% if page.category == cat %}
  <li>
    <a href="{{ page.url | replace: '.html', '' }}">
      <span class="title {{page.key}}">{{ page.title }}</span>
      <span class="details">{{ page.tags }}</span>
    </a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

