<footer id="site-links" role="contentinfo">
    <ul>
        <li class="">
            <a href="https://github.com/highfidelity" title="GitHub repository">
                <i class="fa fa-github fa-2x"></i>
                <span>GitHub</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://worklist.net" title="Worklist">
                <img src="/assets/images/wl-logo.svg">
                <span>Worklist</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://www.youtube.com/HighFidelityio" title="Contact us">
                <i class="fa fa-youtube fa-2x"></i>
                <span>YouTube</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://twitter.com/highfidelityinc" title="Twitter">
                <i class="fa fa-twitter fa-2x"></i>
                <span>Twitter</span>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://www.facebook.com/HighFidelityInc" title="Facebook">
                <i class="fa fa-facebook fa-2x"></i>
                <span>Facebook</span>
            </a>
        </li>
        <li>
            <a href="mailto:contact@highfidelity.io" title="Email">
                <i class="fa fa-envelope-o fa-2x"></i>
                <span>Contact</span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://highfidelity.io/alpha" title="Alpha">
                Alpha
            </a>
        </li>
        <li>
            <a href="http://twitter.com/highfidelityinc" title="Twitter">
                Twitter
            </a>
        </li>
        <li>
            <a href="https://highfidelity.io/jobs" title="Jobs">
                Jobs
            </a>
        </li>
        <li>
            <a href="https://highfidelity.io/blog" title="Blog">
                Blog
            </a>
        </li>
    </ul>
    <p>
        <span>&copy; 2014 High Fidelity Inc</span>
    </p>
</footer>
