<footer>        
  <div id="ubernerds">
    <p>über nerds:</p>
    <ul>
      <li><a target="_blank" href="http://alpha.app.net/highfidelity" title="ADN">ADN</a></li>
      <li><a target="_blank" href="https://github.com/highfidelity/hifi" title="Github">Github</a></li>
      <li><a target="_blank" href="http://www.worklist.net" title="Worklist">Worklist</a></li>
      <li>blog feed: <a target="_blank" href="http://highfidelity.io/blog/feed/" title="RSS Feed">RSS</a></li>
    </ul>
  </div>
  <p>
    <span>&copy; 2014 High Fidelity Inc</span>
  </p>
</footer>
