<header class="hf header" role="navigation">
  <a class="item" id="logo" href="//highfidelity.io">High Fidelity</a>
  <a class="item" id="alpha" href="//highfidelity.io/alpha">Alpha</a>
  <a class="item" id="code" href="//highfidelity.io/code">Code</a>
  <a class="item" id="docs" href="/">Docs</a>
  <a class="item" id="worklist" href="//worklist.net">Worklist</a>
  <a class="item" id="jobs" href="//highfidelity.io/jobs">Jobs</a>
  <a class="item" id="blog" href="//highfidelity.io/blog">Blog</a>
</header>
