<section class="hf using">
  <h2>Using</h2>
  {% for cat in site.article-categories %}
  <h3>{{ cat }}</h3>
  <ul>
    {% for page in site.articles %}
    {% if page.category == cat %}
    <li>
      <a href="{{ page.link }}">
        <span class="title">{{ page.title }}</span>
        <span class="details">{{ page.tags }}</span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
</section>

<section class="hf developing">
  <h2>Developing</h2>
  {% for cat in site.api-categories %}
  <h3>{{ cat }}</h3>
  <ul>
    {% for page in site.api %}
    {% if page.category == cat %}
    <li>
      <a href="{{ page.link }}">
        <span class="title">{{ page.title }}</span>
        <span class="details">{{ page.tags }}</span>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
</section>

