{% raw %}
<script id="search-results-template" type="text/mustache">
        {{#entries}}
            {{#api}}
                    <article class="search-result search-result-api">
                        <a href="{{url}}">
                            <span class="title">{{title}}</span>
                        </a>
                    </article>
            {{/api}}
            {{^api}}
                        <article class="search-result search-result-user">
                            <a href="{{url}}">
                                <span class="title">{{title}}</span>
                            </a>
                        </article>
            {{/api}}
        {{/entries}}

</script>
{% endraw %}
