/* Page Declarations */

.hf.page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    justify-content: center;

    max-width: 910px;
    margin: auto;
}

.hf.api.h1 { color: #111; } 
.hf.api.page { 
    margin-top: 30px;
    border-top: 1px solid #E2E2E2;
}

.hf.page > * { flex: 1 100%; }
.hf.page > section { flex: 1; padding: 30px; 
                     border: 1px dashed #CBCBCB; }
.hf.page > section:last-of-type { border-left: 0 }
.hf.page .search > form {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.hf.page .search > form > input {
    border: 1px solid #E2E2E2;
    padding: 15px;
    font-style: italic;
    width: 370px;
    font-size: 16px;
}



@media all and (max-width: 800px) {
    .hf.page > section { flex: 1 100%; }
    .hf.page > section:last-of-type { 
        border-top: 0; 
        border-left: 1px dashed #CBCBCB;
    }
}

@media all and (max-width: 600px) {
    .hf.page > .search > form { padding: 0; }
    .hf.page > .search > form > input {
        text-align: center;
        width: 100%;
    }
    .hf.page > section { flex: 1 100%; }

    .using      { order: 1; }
    .developing { order: 2; }

    .index      { order: 1; }
    article     { order: 2; }
}
