.hf.home.header {
  list-style: none;
  margin: 0;
  height: 110px;
  font-family: proxima-nova, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.hf.doc.header {
  height: 60px;
  background: #333333;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.hf.doc.header #doc-header {
  background: url(/assets/images/hifi-logo-drak-grey.svg) no-repeat;
  display: block;
  width: 172px;
  height: 51px;
  background-size: 166px 64px;
  background-position: 10px 15px;
  color: #666666;
  float: left;
  outline: 0;
}

.hf.doc.header #doc-header:hover {
  outline: 0;
  border: 0px;
}

.hf.doc.header .search i {
  font-size: 13px;
  position: relative;
  left: 16px;
}

.hf.doc.header .search {
  background: transparent;
  float: left;
  margin-top: 18px;
  margin-left: 15px;
}

.hf.doc.header #search-query {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #666;
  width: 277px;
  padding-left: 18px;
  font-size: 15px;
  font-weight: bold;
  outline: 0;
  color: #ccc;
  padding-bottom: 5px;
}

.hf.home.header > .item {
    padding: 0px 10px;
    color: #DDDDDD;
    width: auto;
    text-decoration: none;
    border-left: 1px solid #DDDDDD;
}

.hf.home.header > .item:hover,
#docs {
    text-decoration: none;
    border-bottom: none;
    color: $black;
}

#logo {
    background: url(/assets/images/hifi-logo-grey.svg) no-repeat center;
    background-size: 55px 55px;
    border: none;
    vertical-align: top;
    text-indent: -9999px !important;
    display: block;
    width: 70px;
    height: 55px;
    order: 4;
    background-position: 3px 0px;
}

#alpha, #worklist { border: none }

#alpha    { order: 1 }
#code     { order: 2 }
#docs     { order: 3 }
#worklist { order: 5 }
#jobs     { order: 6 }
#blog     { order: 7 }


/* Medium screens */
@media all and (max-width: $medium) {
    .hf.header { justify-content: space-around; }
    .hf.header > .item { flex: 1 auto; }
}

/* Small screens */
@media all and (max-width: $small) {
    /* On small screens, we use column direction instead of row */
    .hf.header { 
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap; 
        padding: 0;
        height: auto;
    }

    .hf.header .item {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid tgba(0,0,0,0.1);
        flex: 1 auto;
        width: 100%;
    }
    
    .hf.header .item:last-of-type {
        border-bottom: none;
    }

    #logo {
        background: none;
        height: auto;
        text-indent: 0px !important;
        order: 1;
        width: 100%;
    }
    #alpha    { order: 2 }
    #code     { order: 3 }
    #docs     { order: 4 }
    #worklist { order: 5 }
    #jobs     { order: 6 }
    #blog     { order: 7 }
}
