/* We use the Inuit CSS framework for organizing styles,
 * which necessitates these imports: */
@import "../../bower_components/inuit-defaults/settings.defaults";

@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";

@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../../bower_components/inuit-page/base.page";

/* Note:
 *
 * We do use Bootstrap, linked via the header before the main stylesheet.
 * Hoever, sometimes you don't want to use Bootstrap styles. All of the 
 * super-custom styles are prefixed with the `hf` class.
 *
 *
 * ## Global Styles and Settings ##
 * 
 * Screen sizes: */
$medium: 800px;
$small:  600px;

$black:   #333;
$grey:    #999;
$lt-grey: #EDEDED;
$blue:    #2799C7;

h2 {
    font-size: 26px;
    color: $blue;
}

a { color: $blue; }
a:hover { color: $blue; text-decoration: none; border-bottom: 1px solid $blue; }


/* Imports */

@import 'api.scss';
@import 'article.scss';
@import 'header.scss';
@import 'index.scss';
