/* Page Components
*
* I just put them all in here cause they're all pretty related.
*/


/* Page Declarations */

.hf.page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 848px;
    margin: 0 auto;
}

/* Search */
.hf.page .search > form > input {
    color: $blue;
    font-size: 20px;
    border: 1px solid #E2E2E2;
    padding: 11px 11px 11px 26px;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.hf.page .search > form > input:focus {
    outline: none;
    font-weight: bold;
}

.hf.home.page #search-header,
.hf.home.page #search-results{
    width: 100%;
}

.hf.home.page #search-results .search-result {
    float: left;
    width: 100%;
}

.hf.home.page #search-results .search-result a {
    color: #333;
    font-size: 14px;
}

.hf.home.page #search-results .search-result a b {
    color: $blue;
}

.hf.home.page #search-results .search-result a:hover {
    color: $blue;
    text-decoration: none;
    border-bottom: none;
}

.hf.home.page #search-results .header h3 {
    font-size: 16px;
    color: #999999;
    border-bottom: 1px dashed #cbcbcb;
    margin-top: 20px;
}

.hf.home.page #search-results .header.left {
    margin-right: 25px;
    margin-left: 20px;
    float: left;
    width: calc(50% - 45px);
}

.hf.home.page #search-results .header.right {
    margin-left: 25px;
    float: left;
    width: calc(50% - 25px);
}

.hf.home #search-entries-user {
    float: left;
    width: 50%;
    margin-left: 20px;
    width: calc(50% - 20px);
    margin-top: 5px;
}

.hf.home #search-entries-api {
    float: left;
    width: 50%;
    margin-left: 25px;
    width: calc(50% - 25px);
    margin-top: 5px;
}

.hf.doc #search-header {
    display: none;
}

@media all and (max-width: 806px) {
    .hf.home.page #search-results {
        width: 396px;
    }
    .hf.home.page #search-results .header.right {
        display: none;
    }
}


/* Home Page */

.hf.home.page {
    justify-content: center;
}

.hf.home.page > .search {
    flex: 2 2 100%;
}

.hf.home.page section {
    flex: 1 1 50%;
}

.hf.home.page section h2 {
    font-size: 35px;
    line-height: 40px;
}

.hf.home.page section.using {
    margin-right: 25px;
}

.hf.home.page section.developing {
    margin-left: 25px;
}

.hf.home.page section:last-of-type {
    border-left: 0
}

.hf.home.page > .search > form {
    display: flex;
    justify-content: center;
}

.hf.page > .search > form > input + i.fa  {
    color: $black;
}
.hf.page > .search > form > input:focus + i.fa  {
    color: $blue;
}

.search > form > input[type="submit"] {
    font-family: FontAwesome;
}

.hf.home.page > .index ul {
    list-style-type: disc;
    list-style-position: inside;
    font-size: 10px;
    padding-bottom: 20px;
}

.hf.home.page > .index ul.javascript-api {
    padding-bottom: 15px !important;
    list-style: none;
}

.hf.home.page > .index a {
    padding: 0px;
    font-size: 15px;
}

/* Doc Page */

.hf.doc.page > .search {
    flex: 1 1 30%;
    border-top: 1px solid #E2E2E2;
}

.hf.doc.page > .search > form {
    padding: 0px;
}

.hf.doc.page > .search > form > input {
    border-top: 0;
    border-bottom: 0;
    padding: 13px;
    width: 100%;
}

.hf.doc.page > .search > form > input,
.hf.doc.page > .links {
    font-size: .9em;
}

.hf.doc.page > article {
    flex: 2 1 70%;
    border-top: 1px solid #E2E2E2;
    padding: 30px;
}

.hf.links {
    flex: 2 1 70%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #E2E2E2;
}

.hf.links > a {
    color: $grey;
    padding: 12px;
    font-size: .9em;
}

.hf.links > a:hover {
    color: $dk-grey;
    text-decoration: none;
    border: 0;
}

.hf.doc.page .index  {
    flex: 1 1 30%;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #E2E2E2;
    display: block;
}

.hf.doc.page .index h2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0.25em 0;
}

.hf.doc.page .index h3 {
    font-size: 1.1em;
    padding-left: 1em;
    margin: 0.25em 0;
}

.hf.doc.page .index ul {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
}

.hf.doc.page .index a {
    padding: 0.25em 1em;
}

.hf.doc.page .component-header {
    flex: 1 1 100%;
    font-family: Quadon-Bold,Georgia,serif;
    font-size: 26px;
    color: $black;
    padding-top: 22px;
}

/* Index component */

.index {
    display: flex;
    width: 100%;
    padding-left: 22px;
    padding-top: 30px;
}

.index a {
    width: 100%;
    padding: 10px 15px;
    display: block;
}

.index ul li:hover a {
    border: 0px;
    color: #3398cb
}

.index ul li:hover,
.index ul li:hover a span {
    color: #3398cb;
}

.index span {
    display: block;
    width: 100%;
}

.index span.title {
    font-size: 15px;
    color: $dk-grey;
}
.index span.details {
    font-size: .9em;
    color: $grey;
}

.index .entries > article span {
    width: 100%;
    display: block;
}

.index .entries > article .details {
    font-size: 12px;
    color: $dk-grey;
}

div.index h3.getting-started {
    background: url(/assets/images/icons/getting-started.svg) no-repeat;
    background-size: 40px 50px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 32px;
}

div.index h3.javascript-api {
    height: 40px;
    line-height: 30px;
}

div.index h3.scripts {
    background: url(/assets/images/icons/scripts.svg) no-repeat;
    background-size: 35px 50px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 35px;
}

div.index h3.settings {
    background: url(/assets/images/icons/settings.svg) no-repeat;
    background-size: 30px 54px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 32px;
}

div.index .using h3.avatars {
    background: url(/assets/images/icons/avatars.svg) no-repeat;
    background-size: 30px 60px;
    background-position: 6px -9px;
    height: 40px;
    line-height: 40px;
}

div.index .developing h3.avatar {
    background: url(/assets/images/icons/avatars-developing.svg) no-repeat;
    background-size: 30px 60px;
    background-position: 6px -9px;
    height: 40px;
    line-height: 40px;
}

div.index .using h3.voxels-meshes {
    background: url(/assets/images/icons/voxels.svg) no-repeat;
    background-size: 30px 53px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 35px;
}

div.index .developing h3.voxels {
    background: url(/assets/images/icons/voxels-developing.svg) no-repeat;
    background-size: 30px 53px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 35px;
}

div.index .using h3.audio {
    background: url(/assets/images/icons/docs-audio.svg) no-repeat;
    background-size: 38px 50px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 30px;
}

div.index .using h3.devices {
    background: url(/assets/images/icons/devices.svg) no-repeat;
    background-size: 38px 50px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 35px;
}

div.index .using h3.assignment-clients {
    background: url(/assets/images/icons/assignment-clients.svg) no-repeat;
    background-size: 38px 50px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 30px;
}

div.index .using h3.domains {
    background: url(/assets/images/icons/domains.svg) no-repeat;
    background-size: 33px 55px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 37px;
}

div.index .developing h3.audio {
    background: url(/assets/images/icons/audio-developing.svg) no-repeat;
    background-size: 38px 50px;
    background-position: 6px -9px;
    height: 35px;
    line-height: 30px;
}

div.index  h3 {
    margin-top: 10px !important;
    font-size: 20px;
}

div.index .using ul,
div.index  .using h3 {
    padding-left: 50px;
}

div.index ul.devices,
div.index ul.build-from-source {
    list-style-type: none !important;
}

div.index h3.diagrams,
div.index h3.build-from-source {
    height: 40px;
    line-height: 40px;
}

div.index ul.javascript-api {
    display: inline-block;
    padding-left: 0px;
    width: calc(100% - 70px);
}

div.index ul.devices li span.cameras {
    background: url(/assets/images/icons/3d-camera.svg) no-repeat;
    background-size: 30px 60px;
    background-position: 0px -9px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

div.index ul.devices li span.hand-controllers {
    background: url(/assets/images/icons/hand-controlers.svg) no-repeat;
    background-size: 16px 63px;
    background-position: 6px -9px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

div.index ul.devices li span.hdm {
    background: url(/assets/images/icons/hmds.svg) no-repeat;
    background-size: 28px 53px;
    background-position: 0px -9px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

div.index ul.devices li span.motion-capture-suits {
    background: url(/assets/images/icons/mocap-suits.svg) no-repeat;
    background-size: 15px 55px;
    background-position: 6px -9px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

div.index ul.devices li span.motion-controllers {
    background: url(/assets/images/icons/motion-controllers.svg) no-repeat;
    background-size: 25px 60px;
    background-position: 6px -9px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

div.index ul.devices li span.smartphones {
    background: url(/assets/images/icons/smartphones.svg) no-repeat;
    background-size: 14px 55px;
    background-position: 14px -9px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}

div.index ul.build-from-source li span.windows {
    background: url(/assets/images/icons/windows.svg) no-repeat;
}

div.index ul.build-from-source li span.mac {
    background: url(/assets/images/icons/mac.svg) no-repeat;
}

div.index ul.build-from-source li span.linux {
    background: url(/assets/images/icons/linux.svg) no-repeat;
}

div.index ul.build-from-source li span.windows,
div.index ul.build-from-source li span.linux,
div.index ul.build-from-source li span.mac {
    background-size: 25px 47px;
    background-position: 0px -9px;
    height: 30px;
    line-height: 30px;
    padding-left: 50px;
}

.hf.home.page > .index ul li {
    line-height: 22px;
}

.hf.home.page section i {
    border-bottom: 1px dashed #ccc;
    display: block;
}

li.sub-category {
    font-size: 15px;
    font-weight: bold;
    list-style-type: none;
}

li.sub-category:hover {
    color: #333;
}

div.index .developing h3.avatar,
div.index .developing h3.voxels,
div.index .developing h3.audio,
div.index .developing h3.particles {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px !important;
    margin-right: 10px;
}

#search-results p {
    margin: 0px;
    font-size: 15px;
    color: #ddd;
    margin-top: 4px;
}

.hf.home.page > .index ul.javascript-api i {
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid #333;
    display: inline-block;
}

.hf.home.page > .index ul.javascript-api span.title {
    display: inline-block;
    width: calc(100% - 18px);
    margin-left: 3px;
}

@media all and (max-width: 800px) {
    .hf.home.page > section {
        flex: 1 1 100%;
    }
    .hf.home.page > section:last-of-type {
        border-top: 0;
        border-left: 1px dashed #CBCBCB;
    }
}

@media all and (max-width: 600px) {
    .hf.home.page > .search > form {
        padding: 0;
    }
    .hf.doc.page > .search > form > input {
        text-align: center;
        width: 100%;
        border: 0;
    }
    .hf.page > section {
        flex: 1 100%;
    }
    .using      {
        order: 1;
    }
    .developing {
        order: 2;
    }

    .hf.search > form > input {
        border-bottom: 1px;
    }
    .hf.index {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .hf.index .entry,
    .hf.index > section > .entries > p {
        padding: 10px 30px;
    }

    .search, .index, .links, article {
        flex: 1 1 100% !important;
    }

    .hf.search {
        order: 1;
    }

    .hf.index .index {
        order: 2;
    }

    article {
        order: 3;
    }

    .hf.links {
        order: 4;
        border-top: 1px solid $lt-grey;
    }
}
