/* Page Components
 *
 * I just put them all in here cause they're all pretty related.
 */


/* Page Declarations */

.hf.page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    justify-content: center;

    max-width: 910px;
    margin: 0 auto;
}


/* Search */

.hf.page .search > form > input {
    color: $blue;
    font-size: 20px;
    border: 1px solid #E2E2E2;
    padding: 11px 11px 11px 17px;
    width: 370px;
}

.hf.page .search > form > input:focus {
    outline: none;
}

.hf.home.page #search-results {
    margin: 0 auto 42px auto;
    width: 792px;
    border: 0;
}

.hf.home.page #search-results .search-result {
    float: left;
    width: 370px;
    margin: 0 13px;
}

.hf.home.page #search-results .search-result a {
    color: $black;
}

.hf.home.page #search-results .search-result a:hover {
    color: $blue;
    text-decoration: none;
    border-bottom: none;
}

.hf.home.page #search-results .search-result .collection {
    font-size: .9em;
    color: $grey;
}

.hf.home.page #search-results .header {
    float: left;
    width: 370px;
    border-top: 1px dashed #CBCBCB;
    margin: 10px 13px;
}

@media all and (max-width: 806px) {
    .hf.home.page #search-results {
        width: 396px;
    }
    .hf.home.page #search-results .header.right {
        display: none;
    }
}


/* Home Page */

.hf.home.page { justify-content: center; }

.hf.home.page > .search { flex: 2 2 100%; }

.hf.home.page section { 
    flex: 1 1 50%; 
    padding: 30px;                       
    border: 1px dashed #CBCBCB; 
}

.hf.home.page section:last-of-type { border-left: 0 }

.hf.home.page > .search > form {
    display: flex;
    justify-content: center;
    padding: 30px 30px 20px 30px;
}

.hf.page > .search > form > input + i.fa  {
    color: $black;
}
.hf.page > .search > form > input:focus + i.fa  {
    color: $blue;
}

.search > form > input[type="submit"] {
    font-family: FontAwesome;
}

.hf.home.page > .index ul { list-style-type: none }
.hf.home.page > .index a {
    padding: 3px;
}

/* Doc Page */

.hf.doc.page > .search { flex: 1 1 30%; }

.hf.doc.page > .search > form {
    padding: 0px;
}

.hf.doc.page > .search > form > input {
    //border-left: 0;
    border-top: 0;
    border-bottom: 0;
    padding: 14px;
    width: 100%;
}

.hf.doc.page > .search > form > input,
.hf.doc.page > .links {
    font-size: .9em;
	line-height: 1em;
}

.hf.doc.page > article {
    flex: 2 1 70%;
    border-top: 1px solid #E2E2E2;
    padding: 30px;
}

.hf.links { 
    flex: 2 1 70%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

.hf.links > a {
    color: $grey;
    padding: 15px;
    font-size: .9em;
}

.hf.links > a:hover {
    color: $dk-grey;
    text-decoration: none;
    border: 0;
}

.hf.doc.page .index  { 
    flex: 1 1 30%; 
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #E2E2E2;
    display: block;
}

.hf.doc.page .index h2 {
    font-size: 1.2em;
    padding: 0;
    margin: 0.25em 0;
}

.hf.doc.page .index h3 {
    font-size: 1.1em;
    padding-left: 1em;
    margin: 0.25em 0;
}

.hf.doc.page .index ul {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;
}

.hf.doc.page .index a {
    padding: 0.25em 1em;
}

/* Index component */

.index { display: flex; width: 100%; padding: .6em; }

.index a {
    width: 100%;
    padding: 10px 15px;
    display: block;
}

.index a:hover { 
    background: $beige;
    border: 0 
}

.index span { display: block; width: 100%; }
.index span.title {
    font-size: 1em;
    color: $dk-grey;
}
.index span.details {
    font-size: .9em;
    color: $grey;
}

.index .entries > article span {
    width: 100%;
    display: block;
}

.index .entries > article .details {
    font-size: 12px;
    color: $dk-grey;
}


@media all and (max-width: 800px) {
    .hf.home.page > section { flex: 1 1 100%; }
    .hf.home.page > section:last-of-type { 
        border-top: 0; 
        border-left: 1px dashed #CBCBCB;
    }
}

@media all and (max-width: 600px) {
    .hf.home.page > .search > form { 
        padding: 0; 
    }
    .hf.doc.page > .search > form > input {
        text-align: center;
        width: 100%;
        border: 0;
    }
    .hf.page > section { flex: 1 100%; }

    .using      { order: 1 }
    .developing { order: 2 }

    .hf.search > form > input { border-bottom: 1px }
    .hf.index { border: 0; margin: 0; padding: 0;}
    
    .hf.index .entry,
    .hf.index > section > .entries > p
    { padding: 10px 30px; }

    .search, .index, .links, article
    { flex: 1 1 100% !important }

    .hf.search  { order: 1 }
    .hf.index .index { order: 2 }
    article     { order: 3 }
    .hf.links   { order: 4;
                  border-top: 1px solid $lt-grey; }
}
