---
layout: doc_default
---

<!-- The api layout lists a search bar on the left 
     side and a content section on the right. -->
<script>
    var tag = "{{ page.tag }}";
    var isPageAPI = ("{{page.collection}}" == "articles" || "{{page.collection}}" == "managing") ? false : true;
</script>
<div class="hf doc page">
  {% if page.collection == 'articles'%}
     <aside class="hf index">
  {% elsif page.collection == "managing" %}
     <aside class="hf index">
  {% else %}
     <aside class="hf index developing-aside">
  {% endif %}
    <span class="home-page"><i class="fa fa-home"></i><span>Index</span></span>
    {% if page.collection == 'articles'%}
      {% include using.html %}
    {% elsif page.collection == "managing" %}
      {% include using.html %}
    {% else %}
      {% include developing.html %}
    {% endif %}
  </aside>

  <article class="hf article">    
    <h2>{{ page.title }}</h2>
    {{ content }}
    {% include footer.html %}
  </article>
</div>
{% include edit_on_github.html %}
