---
layout: default
---

<!-- The api layout lists a search bar on the left 
     side and a content section on the right. -->
<script>
    var tag = "{{ page.tag }}";
    var isPageAPI = ("{{page.collection}}" == "articles" || "{{page.collection}}" == "managing") ? false : true;
</script>
<div class="hf doc page">
  <div class="component-header">
     <a href="/{{site.sub_base_path}}" class="fa fa-home fa-fw"></a> <i class="fa fa-angle-right"></i> {% if page.collection == "api" %}<span class="sub-header-selected">JavaScript API</span> <i class="fa fa-angle-right"></i>{% endif %}<span class="sub-header-category">{{ page.category | replace: '-', ' ' | capitalize }}</span>
  </div>

  {% include search_form.html %}

  {% include edit_on_github.html %}

  {% if page.collection == 'articles'%}
     <aside class="hf index">
  {% elsif page.collection == "managing" %}
     <aside class="hf index">
  {% else %}
     <aside class="hf index developing-aside">
  {% endif %}
    {% include search_results.html %}
    {% if page.collection == 'articles'%}
      {% include using.html %}
    {% elsif page.collection == "managing" %}
      {% include using.html %}
    {% else %}
      {% include developing.html %}
    {% endif %}
  </aside>

  <article class="hf article">    
    <h2>{{ page.title }}</h2>
    {{ content }}
  </article>
</div>
