<!DOCTYPE html>
<html id="doc-html">

  {% include head.html %}

    <body id="{{ page.title }}">

      {% include doc_header.html %}

      {{ content }}

      <!--
                  JavaScript dependencies
                  TODO: compile and minify these with Grunt
          -->
      <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/bower_components/date.format/date.format.js" | prepend: site.baseurl}}" type="text/javascript"></script>
      <script src="{{ "/bower_components/mustache/mustache.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/bower_components/uri.js/src/URI.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/bower_components/lunr.js/lunr.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
      <script src="{{ "/assets/search.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>

          <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
          <!-- Only use local MathJax when in dire situations
          <script src="{{ "/bower_components/MathJax/Mathjax.js" | prepend: site.baseurl }}" type="text/javascript"></script>
          -->

      <!-- Site Script -->
      <script src="{{ "/assets/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>

      {% include search_entries.html %}
    </body>
</html>
